@charset "UTF-8";

:root{
    --cor01: #627D48;
    --cor02: #9BAD8A;
    --cor03: #B5D798;
    --cor04: #323232;

}

*{
    margin: 0px;
    padding: 0px;
}

body{

    background-color: #E5E5E5;
    color: #333;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{

}

header > h1{
    color: var(--cor01);
    padding: 10px;
    text-align: center;
}

header img{
   text-align: right;
}

nav{
    background: var(--cor02);
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.552);
}

nav > a {
    color: #eaf1e4;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.5s;
}
nav > a:hover{
    color: #627D48;
    background-color: #d3dfc8;
}

main{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
}

main > h2{
    text-align: center;
    color: #627D48;
    padding: 10px;
}

main > p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.3em;
    line-height: 2.1em;
}

main img{
    width: 100%;
    margin: auto;
}

footer{
    text-align: center;
    padding: 20px;
}